[project]
	description = Source code for website WebF.zone
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Harshal (mistyharsh)
[access "refs/for/refs/*"]
	read = group user/Harshal (mistyharsh)
	push = group user/Harshal (mistyharsh)
	label-Code-Review = -2..+2 group user/Harshal (mistyharsh)
	label-Verified = -1..+1 group user/Harshal (mistyharsh)
	rebase = group user/Harshal (mistyharsh)
	removeReviewer = group user/Harshal (mistyharsh)
	submit = group user/Harshal (mistyharsh)
[access "refs/heads/*"]
	read = group user/Harshal (mistyharsh)
	create = group user/Harshal (mistyharsh)
	push = +force group user/Harshal (mistyharsh)
	pushMerge = group user/Harshal (mistyharsh)
[access "refs/tags/*"]
	push = group user/Harshal (mistyharsh)
	push = +force group user/Harshal (mistyharsh)
