@import "../scss/_variables.scss";
@import "../scss/_foundation_media_queries.scss";

.blog-panel {
    position: relative;
    min-height: 400px;
    min-height: 70vh;

    .right-side-panel {
        background-color: $color-alabaster;
        height: 100%;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 320px;

        .tag-heading {
            text-transform: uppercase;
            font-size: 0.778rem;
        }

        .tag-list {
            list-style: none;
            margin: 0;
        }

        .tag-list-item {
            display: inline-block;
        }

        .tag-list-item > a {
            background-color: $color-white;
            border: 1px solid scale-color($color-alabaster, $lightness: -10%);
            color: scale-color($color-kelp, $lightness: 10%);
            display: block;
            font-size: 0.8rem;
            margin: 5px 0;
            padding: 0.25rem 0.4rem;
            transition: all 0.1s ease-out 0s;

            &:hover {
                color: $color-niagara;
                text-decoration: underline;
                background-color: rgba(scale-color($color-niagara, $red: 60%), 0.1);
                border-color: rgba(scale-color($color-niagara, $saturation: 20%, $lightness: -20%), 0.3);
            }
        }
    }

    .blog-list {
        list-style: none;
        margin: 0;
    }

    .blog-list-item {
        margin: 2rem 0;
    }

    .blog-list-item-meta {
        font-size: 0.778rem;
    }
}
