@import '../../../assets/css/_breakpoints.scss';
@import '../../../assets/css/_base.scss';

@include respond-to ('large-range') {
    .two-column-grid {
        float: left;
        width: 44%;
        margin: 0 3%;
    }
}
