<header class="page-header">

    <h1 class="logo-container">
        <a class="logo-link" href="/">
            <img alt="<web/F>" src="/img/logo/logo.png" />
        </a>
    </h1>

    <ul class="page-master-menu clearfix">
        <li class="page-master-menu-item"><a class="page-master-menu-link" href="/coming-soon/">Blog</a></li>
        <li class="page-master-menu-item"><a class="page-master-menu-link" href="/coming-soon/">Past</a></li>
        <li class="page-master-menu-item"><a class="page-master-menu-link" href="/about/">About</a></li>
    </ul>

</header>