<footer class="page-footer">
    <div>
        &copy; &lt;web/F&gt; 2015.
        Graphics designed by <a href="http://www.freepik.com">Freepik</a>.
        Icons made by
        <a target="_blank" href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        from
        <a target="_blank" href="http://www.flaticon.com" title="Flaticon">Flaticon</a>
        is licensed by
        <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC by 3.0</a>
    </div>
</footer>