@import "../../scss/_variables.scss";
@import "../../scss/_foundation_media_queries.scss";

.page-body {
    max-width: 640px;
}

@media #{$large-up} {

    .page-body {
        max-width: 1600px;
    }

    .two-column-grid {
        float: left;
        width: 44%;
        margin: 0 3%;
    }
}

.event-intro {

    .event-intro-heading {
        font-size: 1.125rem;
    }

    .text-no-break {
    }

    .event-intro-text {
        font-size: 1.125rem;
        margin: 5% 0;
    }
}

.event-calendar {

    $event-header-font: 1.125rem;

    .event-header {
        font-size: $event-header-font;
    }

    .event-header-text {
        vertical-align: middle;
        display: inline-block;
    }

    .event-icon {
        width: $event-header-font;
    }

    .event-details {
        margin-bottom: 10px;
    }

    .button.register-now {
        margin: 0;
        display: block;
        padding: 15px;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-decoration: underline;
    }

    .event-timetable {

        $vertical-line-padding: 30;
        $vertical-line-width: 4;

        position: relative;

        .vertical-line {
            position: absolute;
            width: $vertical-line-width + px;
            height: 100%;
            left: $vertical-line-padding + px;
            top: 0;
            background-color: $color-niagara;
            box-shadow: 0 0 $vertical-line-width + px $color-pelorous;
        }

        .core-item {
          background-image: url(/img/icons/ng.png);
          background-size: 64px 64px;
          background-position: top right;
          background-repeat: no-repeat;
        }

        .timetable-item {
            padding-bottom: $vertical-line-padding + px;
            padding-left: $vertical-line-padding * 2.2 + px;

            &.timetable-day {
                font-size: 1.3125rem;
                padding-top: 6px;
                padding-bottom: 6px;
                margin-bottom: $vertical-line-padding / 2 + px;
                background-color: #E0E0E0;
            }

            .timetable-icon {
                background-color: $color-niagara;
                background-repeat: no-repeat no-repeat;
                background-size: contain;
                background-origin: content-box;
                background-position: center center;
                border: $vertical-line-width + px solid $color-concrete;
                border-radius: 100%;
                box-shadow: 0 0 $vertical-line-width + px 1px rgba(0,0,0,0.5);
                content: "";
                display: block;
                height: $vertical-line-padding * 1.4 + px;
                position: absolute;
                padding: $vertical-line-width + px;
                left: ($vertical-line-padding + $vertical-line-width / 2) - ($vertical-line-padding * 1.4 / 2) + px;
                width: $vertical-line-padding * 1.4 + px;

                &.icon-conference {
                    background-image: url(/img/icons/conference.png);
                }

                &.icon-lunch {
                    background-image: url(/img/icons/lunch.png);
                }

                &.icon-coffee {
                    background-image: url(/img/icons/coffee-cup.png);
                }

                &.icon-registration {
                    background-image: url(/img/icons/security-camera.png);
                }

                &.icon-workshop {
                    background-image: url(/img/icons/workshop-tool.png);
                }

                &.icon-quickies {
                    background-image: url(/img/icons/comet.png);
                }
            }

            .timetable-heading,
            .timetable-description {
                margin: 1rem 0;
            }

            .timetable-heading {
                font-weight: bold;
            }
        }
    }
}

.wall-container {
    box-shadow: 0 0 4px 1px rgba(0, 0,0, 0.2);

    .wall-info-panel {
        position: relative;
    }

    .wall-content {
        background-image: url(/img/wall/wall-2-opt.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: $color-concrete;
        padding: 1rem;
        font-size: 1.125rem;
    }

    .button.register-now {
        font-size: 1rem;
        letter-spacing: 1px;
        margin: 0;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 0;
        text-decoration: underline;
    }

    @media #{$small-up} {

        .button.register-now {
            top: auto;
            bottom: 1rem;
            left: 1rem;
        }
    }
}

.ideal-candidate-panel {
    color: #8C0000;
    margin: 1rem 0;
    box-shadow: 0 0 4px 1px rgba(0, 0,0, 0.4);
    padding: 0.5rem 1rem;
    border: 1px solid;

    .pirate-cap {
        width: 35%;
        float: left;
        margin-right: 5%;
    }

    h2 {
        color: #8C0000;
    }

    ol {
        margin-bottom: 0;
    }

    @media #{$large-up} {

        .pirate-cap {
            width: 30%;
            margin-right: 5%;
        }
    }
}

.event-people {

    h2 {
        margin-bottom: 0;
    }

    .people-list {
        list-style: none;
        margin: 0;

        a {
            text-decoration: underline;
        }
    }

    .people-list-item {
        box-shadow: 0 0 4px 1px rgba(0, 0,0, 0.2);
        margin-bottom: 1rem;
    }

    .people-image {
        max-width: 120px;
    }

    .people-name, .people-short-bio, .people-links {
        padding: 0 5px;
        margin: 0;
    }

    .inline-list {
        margin-left: -1.375rem;
    }

    @media #{$small-up} {
        .people-image {
            float: left;
            max-width: 135px;
        }

        .people-content {
            margin-left: 145px;
        }
    }
}

.contact-us-panel {
    font-size: 1.25rem;
}

.sponsors-section {

    h3 {
        margin-bottom: 2rem;
    }

    .inline-block {
        margin: 0 5%;
    }

    .sponsor-logo {
        max-width: 200px;
    }
}
