@import "../../scss/_variables.scss";
@import "../../scss/_foundation_media_queries.scss";

.page-body {
    max-width: 640px;
}

@media #{$large-up} {

    .page-body {
        max-width: 1600px;
    }

    .two-column-grid {
        float: left;
        width: 44%;
        margin: 0 3%;
    }
}