@import "../../scss/_variables.scss";

.about-panel {

    h2 {
      margin-top: 5rem;
    }

    .about-panel-content {
        columns: 2 320px;
        column-gap: 4rem;
        column-rule: 1px solid $color-concrete;
    }

}


.core-contributor-panel {

    .core-contributor {
        float: left;
        position: relative;
    }

    .core-contributor-name {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: $color-white;
        text-transform: uppercase;
        padding: 0.25rem;
    }
}
