@import './_breakpoints.scss';
@import './_variables.scss';
@import './_setting.scss';

html {
    height: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    color: $color-kelp;
    font-size: 100%;
    background-color: $color-concrete;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin: 0;
}

a {
    color: $color-niagara;
    text-decoration: none;
    line-height: 1.5px;
}

a:hover {
    color: scale-color($color-niagara, $lightness: -20%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::before {
    content: '';
    clear: both;
    display: table;
    height: 0;
    visibility: hidden;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.text-no-break {
    white-space: nowrap;
}

.text-webf {
    color: $color-niagara;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    margin: 0.2rem 0 0.5rem;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

@include respond-to ('extra-small-range') {
    .page-body {
        background-color: $color-white;
        margin: 2rem auto 1rem;
        width: 90%;
        padding: 1rem;
        max-width: 640px;
    }
}

@include respond-to('medium-range') {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h1,
    h2,
    h3,
    h6 {
        line-height: 1.4;
    }

    p {
        line-height: 1.6;
    }
}

@include respond-to('large-range') {
    .page-body {
        max-width: 1600px;
    }
}
