@import './_variables.scss';

$header-font-color: $color-kelp;
$h1-font-size: rem-calc(40);
$h2-font-size: rem-calc(32);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(21);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

// $h1-font-reduction: rem-calc(8);
// $h2-font-reduction: rem-calc(8);
// $h3-font-reduction: rem-calc(4);
// $h4-font-reduction: rem-calc(4);
// $h5-font-reduction: 0;
// $h6-font-reduction: 0;

$anchor-font-color: $color-niagara;
$anchor-font-color-hover: scale-color($color-niagara, $lightness: -20%);
