<header class="page-header">
    
        <div class="logo-container">
            <a class="logo-link" href="/">
                <img alt="<web/F>" src="./static/img/logo.png" />
            </a> 
            For passionate front-end engineers. A non-profit initiative.
        </div>
       
        <ul class="page-master-menu clearfix">
            <li class="page-master-menu-item"><a class="page-master-menu-link" href="/blog/">Blog</a></li>
            <li class="page-master-menu-item"><a class="page-master-menu-link" href="/events/">Events</a></li>
            <li class="page-master-menu-item"><a class="page-master-menu-link" href="/about/">About</a></li>
        </ul>
</header>
    