<section class="page-body events-panel">
    <article class="annual-event">
        <h2>Year 2015</h2>
        <p>
            AngularJS best practices and design patterns, HTML & CSS Architecture, Build Automation, TDD, Code Organization and
            building the complete DevOps pipeline. Also talks on Asynchronous Programming, Functional JavaScript, Reactive Programming with JavaScript
            and ES6. Below is the link to 2015's <strong>Building Enterprise Web Applications with AngularJS</strong> event.
        </p>

        <a href="2015/">Building Enterprise Web Applications with AngularJS</a>
    </article>
    <article>
        <h2>Year 2014</h2>
        <p>
            2014 was the year of inception (Not the 2010 Nolan's Inception flick) for <span class="text-webf">&lt;web/F&gt;</span>.
            Only event we conducted in 2014 was <strong>Front-end architecture.</strong>
            We were trying to figure out bits and pieces of developer conference management.
            Right from arranging water to selection of venue, everything was new.
            We noted every possible feedback from our attendees and then laid track for the future of <span class="text-webf">&lt;web/F&gt;</span>.
            It only makes sense that we dedicate an entire blog post for this.
            Below is the link to 2014's <strong>Front-end architecture</strong> event.
        </p>

        <a href="2014/">Front-end architecture</a>
    </article>

</section>