@import '../../../../assets/css/_breakpoints.scss';

small {
    color: #919173;
    font-size: 60%;
}

ul {
    padding: 0;
    margin: 0 0.625rem;
    list-style-position: inside;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

@include respond-to ('extra-small-range') {
    .block-grid {
        li {
            list-style: none;
            padding: 0 0.625rem 1.25rem;
        }
    }
}

@include respond-to ('medium-range') {
    .block-grid {
        li {
            width: 50%;
            display: inline-block;
        }
    }
}

@include respond-to ('large-range') {
    .block-grid {
        li {
            width: 33.33%;
            display: inline-block;
        }
    }
}

@include respond-to ('xlarge-range') {
    .block-grid {
        li {
            width: 20%;
            display: inline-block;
        }
    }
}

