
// Color palette
$color-alabaster: #F8F8F8;
$color-concrete: #F2F2F2;
$color-gray: #888888;
$color-kelp: #464637;
$color-niagara: #0AAB8A;
$color-pelorous: #3DB0B4;
$color-red-berry: #8C0000;
$color-white: #FFFFFF;


// Site wide colors
$link-color: $color-niagara;

// System wide fonts
$font-family-sans-serif: "Lato", sans-serif;